/* .generate-medical-record {
    font-family: 'Arial', sans-serif;
    background-image: url('../../../../../public/images/doctormediciine.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-attachment: fixed !important;
}


.generate-medical-records-container {
    padding-top: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}
.generate-medical-records-box{
    width: 80%;
 
    min-height: 70vh;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    color: #fff;
    overflow-y: auto;
} */

.generate-medical-records-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../../../public/images/doctormediciine.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10%;
}

.generate-medical-records-box {
    max-width: 80%;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    color: #fff;
}
.generate-medical-records-box label {
    flex: 0 0 30%; /* Adjust the width as needed */
    text-align: left;
    margin-right: 1rem;
}

/* .form-group {
    margin-bottom: 1.5rem;
} */

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .btn-primary:focus {
        color: #fff;
        background-color: #0056b3;
        border-color: #0056b3;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

    .btn-primary:active {
        color: #fff;
        background-color: #0056b3;
        border-color: #0056b3;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
